<h1 matDialogTitle>Dodaj nowy lek</h1>

<mat-dialog-content>
    <form [formGroup]="form">
        <div>
            <mat-form-field>
                <mat-label>
                    Lek
                </mat-label>
                <mat-select formControlName="medicine_id" >
                    <mat-option *ngFor="let drug of drugs" [value]="drug.id">
                      {{drug.name}}
                    </mat-option>
                  </mat-select>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>
                    Data rozpoczęcia
                </mat-label>
                <input matInput type="date" formControlName="startDate">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>
                    Liczba dawek
                </mat-label>
                <input matInput formControlName="numberOfDosage">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>
                    Interwał
                </mat-label>
                <input matInput type="text" formControlName="doseInterval">
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-raised-button color="accent" matDialogClose>Anuluj</button>
    <button mat-raised-button color="primary" (click)="add()">Zapisz</button>
    
</mat-dialog-actions>