<h1 matDialogTitle>Dodaj nowy lek</h1>

<mat-dialog-content>
    <form [formGroup]="form">
        <div>
            <mat-form-field>
                <mat-label>
                    Lek
                </mat-label>
                <input matInput type="text" formControlName="name">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>
                   Ilość
                </mat-label>
                <input matInput type="number" formControlName="dose">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>
                    Typ
                </mat-label>
                <input matInput type="type" formControlName="type">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>
                    Producent
                </mat-label>
                <input matInput type="text" formControlName="manufacturer">
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-raised-button color="accent" matDialogClose>Anuluj</button>
    <button mat-raised-button color="primary" (click)="addMedicine()">Zapisz</button>
    
</mat-dialog-actions>